@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Ubuntu+Condensed&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Cabin', sans-serif;
}
nav ul{
 display: flex;
 align-items: center;
 list-style-type: none;
 height: 50 px;
 background-color: black;
 color:white;
}
nav ul li{
    padding: 0 12px ;
}
.brand img{
    width: 50px;
    padding: 0 8px;

}
.brand {
    display: flex;
    align-items:center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 72vh;
    background-color: black;
    color:white;
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size:contain;
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.icons{
 margin-top: 14px;    
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 74px;
     
}

.songItem{
    height: 50px;
    display: grid;
    background-color: white;
    color: black;
    margin: 12px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 0px 40px;
    width: 95%;
}



.songItem img{
    width:50px;
    margin: 0px -39px;
    border-radius: 35px;
}
.timestamp{
    margin:0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    font-family: 'Varela Round', sans-serif;
    position: absolute;
    left: 10vw;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    align-items: initial;
}
.far:hover{
    cursor:pointer;
}
.songName{
    align-content: center;
}
@media only screen and (max-width: 1100px) {
    body {
      background-color: rgb(22, 125, 165);
    }
  }